<div class="container pad-top">
  <a ui-sref="newUser" class="btn-primary btn-lg nodecoration">Add New Users</a>
  <table class="table usertable">
      <tr>
          <td><h3>All Users</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="user in users">
          <td>{{user.name}}</td>
          <td>{{user.hobby1}}</td>
          <td>{{user.hobby2}}</td>
          <td>{{user.hobby3}}</td>
          <td>{{user.hobby4}}</td>
          <td>{{user.message}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewUser({id:user.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteUser(user)">Delete</a>
          </td>
      </tr>
  </table>
</div>
